# logs
pages/streamlit_app_logs.log
.log
logs

*.pyc
__pycache__/*
__pycache__/

files.cpython-*.pyc
constants.cpython-*.pyc
functions.cpython-*.pyc
pages/info_streamlit_app_logs.log
pages/info_streamlit_app_logs.log
pages/info_streamlit_app_logs.log
*.log
pages/info_streamlit_app_logs.log
